<a href="./spark/{{concept.id}}">
    <div class="card">
        <h3 class="card-title">{{concept.title}}<h3>
        <h3 class="card-user">{{concept.creator.username}}</h3>
        <p class="card-body">
            {{concept.creator.description}}
        </p>
    </h3>
</a>
