<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spark Concepts</title>
  <link rel="icon" type="image/png" href="/images/spark.svg"/>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/spark.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <header class="justify-space-between align-center p-2">
    <!-- Only display the logout button if the user is logged in -->
    {{#if logged_in}}
    <div class="topnavbar" id="topnavbar">
      <a class="keep" href="/">Home</a>
      <a class="keep" href="/about">About</a>
      <a href="/myuser">My Information  </a>
      <a href="./user">Search User  </a>
      <a href="/"> Homepage  </a>
      <a href="/fav">Favorite Sparks  </a>
      <a href="/create">Create a Spark!  </a>
     <a href ="#" onclick = "logout()">Logout</a>
      <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div> 
    </nav>
    {{/if}}
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  <!-- Only include the logout script if the user is logged in -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

<script>
function myFunction() {
  var x = document.getElementById("topnavbar");
  if (x.className === "topnavbar") {
    x.className += " responsive";
  } else {
    x.className = "topnavbar";
  }
}
</script>

</html>
