<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spark Concepts</title>
  <link rel="icon" type="image/png" href="/images/spark.svg"/>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <!-- Only display the logout button if the user is logged in -->
    {{#if logged_in}}
    <nav>
      <button class="btn" id="logout">logout</button>
    </nav>
    <nav>
      <a href=./{{user.sparks}}>My Sparks  </a>
      <a href=./myuser/>My Information  </a>
      <a href=./{{user.username}}>Search User  </a>
      <a href=/> Homepage  </a>
      <a href=./fav>Favorite Sparks  </a>
      <a href=./create>Create a Spark!  </a>
      <a href=./generate>Make a Random Idea!  </a>
    </nav>
    {{/if}}
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  <!-- Only include the logout script if the user is logged in -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
