<div class="mb-5">
    <h1>
        Welcome to Spark My Concepts!
    </h1>
    <br>
    <br>
    <p>This is a project that uses node.js, express.js, mysql, sequelize, and handlebars to create an idea sharing platform for its users.</p>
    <br>
    <p>The purpose of this application is to create an online community for builders or other people who like to create things or "Spark" as we call them here.</p>
    <p>The goal with the project is to allow users to make ideas and share them with others in the community so that they can be commented on and find community support.</p>
    <br>
    <h3>
        How to use this Application:
    </h3>
    <br>
    <p>You can create a spark on the create page.</p>
    <br>
    <p>You can view your sparks or others on the home page.</p>
    <br>
    <p>If you click on a spark on the home page you will be redirected to the spark where you can view the comments on the spark</p>

</div>