<h2>New Spark</h2>

<form class="form create-form">
  <div class="form-group">
    <label for="Title">Title</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="Text">text</label>
    <textarea class="form-input" id="spark-text" rows="40"></textarea>
  </div>
  <div class="form-group">
    <label for"Outside link">Outside link</label>
    <input class="form-input" type="text" id="link"/>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>
<script src="/js/create.js"></script>
