<!--This is our navigation bar, this ought to change the way our page works -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>




<div class="row align-center mb-5">
    <div>
        <h2>Sparks:</h2>
    </div>
</div>
   
<!-- start box for content box -->
<!--These Names must be changed to match what we are using -->
<div class="contentBox">
  <!--Is our Menu for selection here? -->
  {{#each concepts as |concept|}}
    <a href="./spark/{{concept.id}}">
      <div class="card">
          <h3 class="card-title">Title: {{concept.title}}<h3>
          <h3 class="card-user">By: {{concept.creator.username}}</h3>
      </div>
    </a>
  {{/each}}
</div>



