<div class="row align-center mb-5">
    <h3>{{concept.title}}</h3>
    <h3>Created By {{concept.user.username}}</h3>
    <h3>{{concept.text}}</h3>
    <button class="btn" id="Delete User">Delete User</button>
</div>

{{#each concept.comments as |comment|}}
{{>comment-details comment}}

{{/each}}
<div>
    <nav>
      <button class="btn" id="My Sparks">My Sparks</button>
      <button class="btn" id="My Favorites">My Favorites</button>
    </nav>
</div>