<div class="row align-center mb-5">
    <div>
        <h2>{{user.name}} Profile</h2>
    </div>
    <nav>
      <button class="btn" id="My Sparks">My Sparks</button>
      <button class="btn" id="My Favorites">My Favorites</button>
</div>

<div class="row align-center mb-5">
    <h3>{{user.bio}}</h3>
    <h3>{{favorite}}</h3>
    <button class="btn" id="Delete User">Delete User</button>
</div>