<div class="row align-center mb-5">
    <div>
        <p>{{user.name}} Profile</p>
    </div>
    <nav>
      <button class="btn" id="My Sparks">My Sparks</button>
      <button class="btn" id="My Favorites">My Favorites</button>
</div>

<div class="row align-center mb-5">
    <p>{{user.bio}}</p>
    <p>{{favorite}}</p>
    <button class="btn" id="Delete User">Delete User</button>
</div>

<script src="/js/login.js"></script>